

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        

<div class="row">
            <!-- left column -->
            <div class="col-md-12">
           

     <!-- general form elements -->
                <div class="box box-primary">
					<h2><?php echo __('Question'); ?></h2>
						<dl>
							<dt><?php echo __('Id'); ?></dt>
							<dd>
								<?php echo h($question['Question']['id']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Subject'); ?></dt>
							<dd>
								<?php echo $this->Html->link($question['Subject']['title'], array('controller' => 'subjects', 'action' => 'view', $question['Subject']['id'])); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Time'); ?></dt>
							<dd>
								<?php echo h($question['Question']['time']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Question'); ?></dt>
							<dd>
								<?php echo h($question['Question']['question']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Point'); ?></dt>
							<dd>
								<?php echo h($question['Question']['point']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Solution'); ?></dt>
							<dd>
								<?php echo h($question['Question']['solution']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Answer Description'); ?></dt>
							<dd>
								<?php echo h($question['Question']['answer_description']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Created'); ?></dt>
							<dd>
								<?php echo h($question['Question']['created']); ?>
								&nbsp;
							</dd>
							<dt><?php echo __('Modified'); ?></dt>
							<dd>
								<?php echo h($question['Question']['modified']); ?>
								&nbsp;
							</dd>
						</dl>
					</div>
					<div class="actions">
						<h3><?php echo __('Actions'); ?></h3>
						<ul>
							<li><?php echo $this->Html->link(__('Edit Question'), array('action' => 'edit', $question['Question']['id'])); ?> </li>
							<li><?php echo $this->Form->postLink(__('Delete Question'), array('action' => 'delete', $question['Question']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $question['Question']['id']))); ?> </li>
							<li><?php echo $this->Html->link(__('List Questions'), array('action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Question'), array('action' => 'add')); ?> </li>
							<li><?php echo $this->Html->link(__('List Subjects'), array('controller' => 'subjects', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Subject'), array('controller' => 'subjects', 'action' => 'add')); ?> </li>
							<li><?php echo $this->Html->link(__('List Answers'), array('controller' => 'answers', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Answer'), array('controller' => 'answers', 'action' => 'add')); ?> </li>
							<li><?php echo $this->Html->link(__('List Tests'), array('controller' => 'tests', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Test'), array('controller' => 'tests', 'action' => 'add')); ?> </li>
						</ul>
					</div>
					<div class="related">
						<h3><?php echo __('Related Answers'); ?></h3>
						<?php if (!empty($question['Answer'])): ?>
						<table cellpadding = "0" cellspacing = "0">
						<tr>
							<th><?php echo __('Id'); ?></th>
							<th><?php echo __('Question Id'); ?></th>
							<th><?php echo __('Answer'); ?></th>
							<th><?php echo __('Feedback'); ?></th>
							<th><?php echo __('Is Correct'); ?></th>
							<th><?php echo __('Created'); ?></th>
							<th><?php echo __('Modified'); ?></th>
							<th class="actions"><?php echo __('Actions'); ?></th>
						</tr>
						<?php foreach ($question['Answer'] as $answer): ?>
							<tr>
								<td><?php echo $answer['id']; ?></td>
								<td><?php echo $answer['question_id']; ?></td>
								<td><?php echo $answer['answer']; ?></td>
								<td><?php echo $answer['feedback']; ?></td>
								<td><?php echo $answer['is_correct']; ?></td>
								<td><?php echo $answer['created']; ?></td>
								<td><?php echo $answer['modified']; ?></td>
								<td class="actions">
									<?php echo $this->Html->link(__('View'), array('controller' => 'answers', 'action' => 'view', $answer['id'])); ?>
									<?php echo $this->Html->link(__('Edit'), array('controller' => 'answers', 'action' => 'edit', $answer['id'])); ?>
									<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'answers', 'action' => 'delete', $answer['id']), array('confirm' => __('Are you sure you want to delete # %s?', $answer['id']))); ?>
								</td>
							</tr>
						<?php endforeach; ?>
						</table>
					<?php endif; ?>

						<div class="actions">
							<ul>
								<li><?php echo $this->Html->link(__('New Answer'), array('controller' => 'answers', 'action' => 'add')); ?> </li>
							</ul>
						</div>
					</div>
					<div class="related">
						<h3><?php echo __('Related Tests'); ?></h3>
						<?php if (!empty($question['Test'])): ?>
						<table cellpadding = "0" cellspacing = "0">
						<tr>
							<th><?php echo __('Id'); ?></th>
							<th><?php echo __('Subject Id'); ?></th>
							<th><?php echo __('Group Id'); ?></th>
							<th><?php echo __('Title'); ?></th>
							<th><?php echo __('Instructions'); ?></th>
							<th><?php echo __('Test Time'); ?></th>
							<th><?php echo __('Status'); ?></th>
							<th><?php echo __('Start Date'); ?></th>
							<th><?php echo __('Created'); ?></th>
							<th><?php echo __('Modified'); ?></th>
							<th class="actions"><?php echo __('Actions'); ?></th>
						</tr>
						<?php foreach ($question['Test'] as $test): ?>
							<tr>
								<td><?php echo $test['id']; ?></td>
								<td><?php echo $test['subject_id']; ?></td>
								<td><?php echo $test['group_id']; ?></td>
								<td><?php echo $test['title']; ?></td>
								<td><?php echo $test['instructions']; ?></td>
								<td><?php echo $test['test_time']; ?></td>
								<td><?php echo $test['status']; ?></td>
								<td><?php echo $test['start_date']; ?></td>
								<td><?php echo $test['created']; ?></td>
								<td><?php echo $test['modified']; ?></td>
								<td class="actions">
									<?php echo $this->Html->link(__('View'), array('controller' => 'tests', 'action' => 'view', $test['id'])); ?>
									<?php echo $this->Html->link(__('Edit'), array('controller' => 'tests', 'action' => 'edit', $test['id'])); ?>
									<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'tests', 'action' => 'delete', $test['id']), array('confirm' => __('Are you sure you want to delete # %s?', $test['id']))); ?>
								</td>
							</tr>
						<?php endforeach; ?>
						</table>
					<?php endif; ?>

						<div class="actions">
							<ul>
								<li><?php echo $this->Html->link(__('New Test'), array('controller' => 'tests', 'action' => 'add')); ?> </li>
							</ul>
						</div>
               

				</div>
        <!--/.col (right) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>
