<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
					<?php echo $this->Form->create('Question'); ?>
						<fieldset>
							<legend><?php echo __('Admin Add Question'); ?></legend>
						<?php
							echo $this->Form->input('subject_id');
							echo $this->Form->input('time');
							echo $this->Form->input('question');
							echo $this->Form->input('point');
							echo $this->Form->input('solution');
							echo $this->Form->input('answer_description');
							echo $this->Form->input('Test');
						?>
						</fieldset>
					<?php echo $this->Form->end(__('Submit')); ?>
					</div>
					<div class="actions">
						<h3><?php echo __('Actions'); ?></h3>
						<ul>

							<li><?php echo $this->Html->link(__('List Questions'), array('action' => 'index')); ?></li>
							<li><?php echo $this->Html->link(__('List Subjects'), array('controller' => 'subjects', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Subject'), array('controller' => 'subjects', 'action' => 'add')); ?> </li>
							<li><?php echo $this->Html->link(__('List Answers'), array('controller' => 'answers', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Answer'), array('controller' => 'answers', 'action' => 'add')); ?> </li>
							<li><?php echo $this->Html->link(__('List Tests'), array('controller' => 'tests', 'action' => 'index')); ?> </li>
							<li><?php echo $this->Html->link(__('New Test'), array('controller' => 'tests', 'action' => 'add')); ?> </li>
						</ul>
                   
                  
            
				</div>
        <!--/.col (right) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>




