<div class="users form" >

</div>



<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Admin Add User</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <!--<form role="form">-->
                    <?php echo $this->Form->create('User'); ?>
						<fieldset>
						
						
						<div class="form-group">

                                <?php  echo $this->Form->input('username',array('class'=>'form-control','placeholder'=>'Fullname'));?>

                            </div>
							<div class="form-group">

                                <?php  echo $this->Form->input('email',array('class'=>'form-control','placeholder'=>'Fullname'));?>

                            </div>
							<div class="form-group">

                                <?php  echo $this->Form->input('role',array('class'=>'form-control','placeholder'=>'Email Address'));?>

                            </div>
							<div class="form-group">

                                <?php  echo $this->Form->input('password',array('class'=>'form-control','placeholder'=>'Password'));?>

                            </div>
							<div class="form-group">

                                <?php  echo $this->Form->input('phone',array('class'=>'form-control','placeholder'=>'Phone'));?>

                            </div>
							
							
						</fieldset>
					<?php echo $this->Form->end(__('Submit')); ?>
					</div>
					<div class="actions" >
						<h3><?php echo __('Actions'); ?></h3>
						<ul>

							<li><?php echo $this->Html->link(__('List Users'), array('action' => 'index')); ?></li>
						</ul>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

