

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        

<div class="row">
            <!-- left column -->
            <div class="col-md-12">
           

     <!-- general form elements -->
                <div class="box box-primary">
					<h2><?php echo __('Result'); ?></h2>
							<dl>
								<dt><?php echo __('Id'); ?></dt>
								<dd>
									<?php echo h($result['Result']['id']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Test'); ?></dt>
								<dd>
									<?php echo $this->Html->link($result['Test']['title'], array('controller' => 'tests', 'action' => 'view', $result['Test']['id'])); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('User'); ?></dt>
								<dd>
									<?php echo $this->Html->link($result['User']['id'], array('controller' => 'users', 'action' => 'view', $result['User']['id'])); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Mark'); ?></dt>
								<dd>
									<?php echo h($result['Result']['mark']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Created'); ?></dt>
								<dd>
									<?php echo h($result['Result']['created']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Modified'); ?></dt>
								<dd>
									<?php echo h($result['Result']['modified']); ?>
									&nbsp;
								</dd>
							</dl>
						</div>
						<div class="actions">
							<h3><?php echo __('Actions'); ?></h3>
							<ul>
								<li><?php echo $this->Html->link(__('Edit Result'), array('action' => 'edit', $result['Result']['id'])); ?> </li>
								<li><?php echo $this->Form->postLink(__('Delete Result'), array('action' => 'delete', $result['Result']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $result['Result']['id']))); ?> </li>
								<li><?php echo $this->Html->link(__('List Results'), array('action' => 'index')); ?> </li>
								<li><?php echo $this->Html->link(__('New Result'), array('action' => 'add')); ?> </li>
								<li><?php echo $this->Html->link(__('List Tests'), array('controller' => 'tests', 'action' => 'index')); ?> </li>
								<li><?php echo $this->Html->link(__('New Test'), array('controller' => 'tests', 'action' => 'add')); ?> </li>
								<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
								<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
							</ul>
	
   
				</div>
        <!--/.col (right) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

